// left and right light gradient
.carousel-mask {
    mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

// down chevron with css
.arrow {
  width: 13px;
  height: 13px;
  border-left: 2px solid var(--e-global-color-text);
  border-top: 2px solid var(--e-global-color-text);
  transform: rotate(-135deg);
  transition: transform 0.3s ease;
  margin-left: 8px;
}
